.App {
	background-color: #333;
	color: white;
	min-height: 100vh;
}

.jumbotron-header {
	background: url("https://via.placeholder.com/1500x500") no-repeat center center;
	background-size: cover;
	height: 500px;
}

.section-about,
.section-projects,
.section-contact {
	padding: 50px 0;
	background-color: #444;
}

.footer {
	background-color: #111;
	padding: 20px 0;
	color: white;
}

.footer a {
	color: white;
}
